<div class="row ">
    <div class="col-md-6 offset-3">
        <h2 class="text-info">not found page</h2>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Movie" asp-action="Index">home page</a>
    </div>
</div>